/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/reactions/index.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.reactions_goUp0__flXXq {
  opacity: 0;
  animation: reactions_goUpAnimation0__PL7J0 2s, reactions_fadeOut__q__fP 2s;
}

@keyframes reactions_goUpAnimation0__PL7J0 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -400px);
  }
}

.reactions_goUp1__eZE8W {
  opacity: 0;
  animation: reactions_goUpAnimation1__ZQTwC 2s, reactions_fadeOut__q__fP 2s;
}

@keyframes reactions_goUpAnimation1__ZQTwC {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -300px);
  }
}

.reactions_goUp2__o_fsk {
  opacity: 0;
  animation: reactions_goUpAnimation2__Lzh5e 2s, reactions_fadeOut__q__fP 2s;
}

@keyframes reactions_goUpAnimation2__Lzh5e {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -200px);
  }
}

.reactions_leftRight0__n189R {
  animation: reactions_leftRightAnimation0__mCS97 0.3s alternate infinite ease-in-out;
}

@keyframes reactions_leftRightAnimation0__mCS97 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(50px, 0px);
  }
}

.reactions_leftRight1__nZ_25 {
  animation: reactions_leftRightAnimation1__FgbXx 0.3s alternate infinite ease-in-out;
}

@keyframes reactions_leftRightAnimation1__FgbXx {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(100px, 0px);
  }
}

.reactions_leftRight2__2BpFd {
  animation: reactions_leftRightAnimation2__2zYiC 0.3s alternate infinite ease-in-out;
}

@keyframes reactions_leftRightAnimation2__2zYiC {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-50px, 0px);
  }
}

@keyframes reactions_fadeOut__q__fP {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/users/Avatar.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Avatar_avatar__EUIw2 {
    display: flex;
    place-content: center;
    position: relative;
    border: 4px solid #fff;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background-color: #9ca3af;
    margin-left: -0.75rem;
  }
  
  .Avatar_avatar__EUIw2:before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.15s ease;
    padding: 5px 10px;
    color: white;
    font-size: 0.75rem;
    border-radius: 8px;
    margin-bottom: 10px;
    z-index: 1;
    background: black;
    white-space: nowrap;
  }
  
  .Avatar_avatar__EUIw2:hover:before {
    opacity: 1;
  }
  
  .Avatar_avatar_picture__OLcTh {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
  }
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/users/index.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.users_more__w45L7 {
    border-width: 4px;
    border-radius: 9999px;
    border-color: white;
    background-color: #9ca3af;
    min-width: 56px;
    width: 56px;
    height: 56px;
    margin-left: -0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
